body {
    margin: 0;
}

.body-container {
    display: flex;
    flex-direction: column;
}
.hero {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-around;
}

.links {
    display: flex;
    gap: 16px;
}

.main-section {
    display: flex;
    padding: 100px;
    justify-content: center;
    align-items: center;
}
.text {
   
    flex-basis: 400px;
    margin: 90px;       
}

li {
    list-style-type: none;   
}

a {
    text-decoration: none;
}
.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}


.subtext, a {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}